Hello user

<form action="/set" method="post">
  <label for="somekey">
    Key to set
    <input type="text" name="somekey">
  </label>
  <label for="somevalue">
    Value to store
    <input type="text" name="somevalue">
  </label>
  <input type="submit" value="Store this">
</form>
